<script language="javascript">

$().ready(function() {

  //
  // Infinite scroll results
  //
  repertoire.infinite_results = function($results, options) {
    // inherit basic facet widget behaviour
    var self = repertoire.facet_widget($results, options);

    // count of items already loaded
    var cur_offset = options.scroll;

    //
    // Update query results from webservice
    //
    // By default, the url is '/<context>/results'
    //
    self.fetch = function(type, callback, $elem, extra_params) {
      var context = self.context(),
          url = context.facet_url('results'),
          params = $.extend({}, self.params(), extra_params || {});

      // package up the faceting state and send back to results rendering service
      context.fetch(params, url, type, callback, $elem);
    };

    //
    // Ajax callback for results
    //
    self.reload = function(callback) {
      cur_offset = options.scroll;
      self.fetch(options.type, callback, $results);
    };

    //
    // Render fetched html
    //
    var $template_fn = self.render;
    self.render = function(data) {
      var $markup = $template_fn();

      // if html returned, use it; otherwise defer to a custom injector
      if (options.type == 'html') {
        $markup.append(data);
      }

      // opacity mask (for loading)
      $markup.append('<div class="mask"/>')

      return $markup;
    };

    // Listen for scroll to bottom of the page
    var loading = false,
        loadStamp = Date.now();
    if (options.scroll) {
      $results.scroll(function() {
        var top = $results.scrollTop(),
            inner = $results.innerHeight(),
            scroll = $results.prop('scrollHeight');
        if ((top + inner + 250 >= scroll) && !loading && (Date.now() > loadStamp + 1000)) {
          loading = true;
          var callback = function(data) {
            var $markup = self.render(data);
            $results.append($markup);
            cur_offset += options.scroll;
            loading = false;
            loadStamp = Date.now();
          };
          self.fetch(options.type, callback, $results, { offset: cur_offset, limit: options.scroll });
        };
      });
    };

    // end of results factory function
    return self;
  };

  // Results plugin
  $.fn.infinite_results = repertoire.plugin(repertoire.infinite_results);
  $.fn.infinite_results.defaults = {
    type: 'html',          /* jquery ajax type: html, json, xml */
    scroll: 20              /* page size */
  };


  //
  // Bar chart facet visualization
  //
  // Options: As for facet value count widget, plus
  //   - height
  //   - width
  //
  repertoire.bar_facet = function($facet, options) {
    var self = repertoire.facet($facet, options);

    var $template_fn = self.render;
    self.render = function(counts) {
      var $markup       = $template_fn([]);
      var values_canvas = $markup.find('.facet .values')[0];

      var bar_offset = 75,
          right_offset = 15;

      var w = options.width,
          h = counts.length * options.thickness,
          x = pv.Scale.linear(0, pv.max(counts, function(d) { return d[1] }))
                      .range(0, w - bar_offset - right_offset),
          y = pv.Scale.linear(0, counts.length)
                      .range(0, h)

      var vis = new pv.Panel()
          .canvas(values_canvas)
          .width(w).height(h);

      // protovis ignores clicks on labels. instead, add a
      // translucent bar behind the label.
      var bar0 = vis.add(pv.Bar)
          .data(counts)
          .top(function() { return y(this.index) })
          .left(0)
          .width(bar_offset)
          .height(options.thickness - 5)
          .fillStyle("rgba(255,255,255,0.001)")
         .event("click", refine).cursor("pointer");

      var bar = vis.add(pv.Bar)
          .data(counts)
          .top(function() { return y(this.index) })
          .left(bar_offset)
          .width(function(d) { return x(d[1]) })
          .height(options.thickness - 5)
          .fillStyle("#ffbb78")
         .event("click", refine).cursor("pointer");

         bar.anchor("left").add(pv.Label)
          .textAlign("right")
          .textStyle("#555")
          .text(function(d) { return d[0] });

         var inside = function(d) { return x(d[1]) > 30 };

         bar.anchor("right").add(pv.Label)
           .textStyle(function(d) { return inside(d) ? "#fff" : "#aaa" } )
           .textAlign(function(d) { return inside(d) ? "right" : "left" })
           .text(function(d) { return d[1] });

      vis.render();

      return $markup;

      function refine(d) {
        var filter = self.refinements(self.facet_name());
        var context = self.context();
        context.toggle(self.facet_name(), d[0]);
        context.trigger('changed');
        return false;
      }
    };

    // end of faceting widget factory method
    return self;
  };

  // Bar facet plugin
  $.fn.bar_facet = repertoire.plugin(repertoire.bar_facet);
  $.fn.bar_facet.defaults = {
    width:     300,
    thickness: 23
  };


  /* temporary: delay load until urls parsed */
  repertoire.defaults.delay_loading = true;

  $('#registers').facet_context(function() {
    return {
      utf8: "%E2%9C%93"
    }
  });

  /* toggle collapsing all facets in a bar together */
  $('.bar .facet').on('click', '.title .banner', function() {
    $(this).closest('.bar').find('> .facet').toggleClass('collapsed');
  });

  var close_injectors = {
      injectors: {
        '.title .controls' : function(self, data) {
          var name = self.facet_name();
          if (self.refinements(name).length > 0) {
            $(this).append('<i class="clear_facet icon-remove-circle"></i>');
          };
        }
      },
      handlers: {
        'click!.clear_facet' : function(self) {
          var name = self.facet_name(),
              context = self.context();
          context.refinements(name).length = 0;
          context.trigger('changed');
          return false;
        }
      }
    };

  $('#season').facet($.extend({}, close_injectors, { title : "Saison" }));
  $('#author1').facet($.extend({}, close_injectors, { title : "Auteur 1" }));
  $('#title1').facet($.extend({}, close_injectors, { title : "Pièce 1" }));
  $('#genre1').facet($.extend({}, close_injectors, { title : "Genre 1" }));
  $('#weekday').facet($.extend({}, close_injectors, { title : "Jour de la semaine" }));
  $('#author2').facet($.extend({}, close_injectors, { title : "Auteur 2" }));
  $('#title2').facet($.extend({}, close_injectors, { title : "Pièce 2" }));
  $('#genre2').facet($.extend({}, close_injectors, { title : "Genre 2"}));

  $('#total_receipts').bar_facet($.extend({}, close_injectors, { width : 155 } ));
  $('#parterre_receipts').bar_facet($.extend({}, close_injectors, { width : 155 } ));
  $('#premiere_loge_receipts').bar_facet($.extend({}, close_injectors, { width : 155 } ));

  // regular list view
  $('#results').infinite_results({ type: 'html' });

  $('#results').on('click', '.receipts', function() { $(this).find('.line-items').toggle(); });

  // provide history support
  $('#registers').urls();

});

</script>
<div id='registers'>
  <div id='results'></div>
  <div id='navbar'>
    <div id="banner"><%= link_to 'Projet des registres de la Comédie-Française' %></div>
    <div id="tabs">
      <img class="spinner" src="/assets/repertoire-faceting/spinner_sm.gif"></img>
    </div>
  </div>
  <div id="facets">
    <div class="bar">
      <div id='season' class='facet'></div>
      <div id='weekday' class='facet'></div>
    </div>
    <div class="bar">
      <div id='author1' class='facet collapsed'></div>
      <div id='author2' class='facet collapsed'></div>
    </div>
    <div class="bar">
      <div id='title1' class='facet collapsed'></div>
      <div id='title2' class='facet collapsed'></div>
    </div>
    <div class="bar">
      <div id='genre1' class='facet collapsed'></div>
      <div id='genre2' class='facet collapsed'></div>
    </div>
    <div class="bar">
      <div id='total_receipts' class='facet bar_facet' title='Recette journalière'></div>
      <div id='parterre_receipts' class='facet bar_facet' title='au parterre'></div>
      <div id='premiere_loge_receipts' class='facet bar_facet' title='aux premières loges'></div>
    </div>
  </div>
</div>
