<script language="javascript">
  $().ready(function() {
    $('#registers').facet_context();
    $('.facet').facet();
    $('#results').results();
  });
</script>
<div class='row-fluid' id='registers'>
  <div class='span2 left' id='left_facets'>
    <div id='season' class='facet' title='Seasons'></div>
    <div id='weekday' class='facet' title='Weekdays'></div>
  </div>
  <div class='span10' id='results'></div>
</div>
