<% config = Cfrp::Application.config %>

<script language="javascript">
$().ready(function() {
  // only necessary if using sub-uris
  repertoire.defaults = { path_prefix: '<%= config.repertoire_assets.path_prefix %>' };

  $('#registers').facet_context(function() {
    return { 
      search: $("#search").val(),
      limit: 4,
      offset: 10,
      utf8: "%E2%9C%93"
    }
  });

  $('.facet').facet();
  $('.nested_facet').nested_facet();
  $('#results').results_custom({
    limit: 4,
    offset: 0
  });

});
</script>

<form id='search_field'>
<span class="results">Results: <span class='results_count'></span></span> <!-- | Search: <input id='search' name='search' type='text' value='<%= @search %>'/> -->
</form>

<%#= render :partial => './navigation', :locals => { :highlight => :registers } %>

<div id='registers'>
  <div class='left'>
    <div id='season' class='facet' title='Seasons'></div>
    <div id='weekday' class='facet' title='Weekdays'></div>
    <div id='total_receipts_recorded_l' class='facet' title='Total Receipts (Livre)'></div>
  </div>

  <div id='results'></div>

  <div class='right'>
    <div id='title1' class='facet' title='Play 1'></div>
    <div id='author1' class='facet' title='Author 1'></div>
    <div class='clear'></div>
    <div id='title2' class='facet' title='Play 2'></div>
    <div id='author2' class='facet' title='Author 2'></div>
    <div id='verification_state' class='facet' title='Verification State (DUMMY DATA)'></div>
    <div id='register_contributor_name' class='facet' title='Register Contributor/Verifier' ></div>
    <!-- div id='total_receipts' class='facet' title='Total Receipts'></div -->
  </div>
</div>
