<script language="javascript">
  $().ready(function() {
    $('#plays').facet_context();
    $('.facet').facet();
    $('#results').results();
    $('#plays').urls();
  });
</script>
<div id='plays' class="row-fluid">
  <div class='span2'>
    <div id='genre' class='facet'></div>
    <div id='acts' class='facet'></div>
    <div id='author' class='facet'></div>
  </div>
  <div class='span10' id='results'>
    <div id='results'></div>
  </div>
</div>
