<p id="notice"><%= notice %></p>

<p>
  <b>Template text:</b>
  <%= @page_text_template.template_text %>
</p>


<%= link_to 'Edit', edit_page_text_template_path(@page_text_template) %> |
<%= link_to 'Back', page_text_templates_path %>
