/** General Styles **/

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

/** Facet Presentation **/

/* Mostly overridding default bootstrap .label
   styles so it looks like Christopher intended */
.rep .facet .values .value .label {
  position: static; /* Not sure why this is needed, as it *isn't overriding anything in bootstrap...? */
  background-color: #fff;
  color: #000099;
  padding: 0px;
  font-size: 12px;
  line-height: 18px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  font-weight: normal;
  white-space: wrap;
}

div#results {
  margin: 10px;
  text-align: center;
  overflow-y:hidden; /** CY: necessary to enable facet value scrollers **/
}

div#results_nav {
  text-align: center;
  margin: 12px;
}

/* feedback during visualization aggregation */
div#results.loading div.rep {
  background: url(/images/spinner_lg.gif) no-repeat center center;
}

div.rep div.facet {
  width: 300px;
  display: inline-block;
}

/* Three column layout. */
/* [ Change as necessary to fit existing CFRP practice ] */
div.container > div.sidebar {
  position: relative;
  top: 0;
  left:auto;
}

div.left {
  float:left;
}

div.right {
  float:right;
}

div.container > div.content {
  margin: 0 310px; /* width of sidebars + 10px of margin */
}

/** Visualization Presentation **/
.days path,
.weeks path,
.months path {
  stroke: #fff;
  stroke-width: 1px;
}

.months text {
  font-size: 11px;
}

.axis text {
  font-size: 7px;
  font-weight: 300;
}

div.register_data {
  border-top: 1px solid black;
  font-size: 14px;
}

/** Form Presentation **/
div#register_form table {
  font-size: 12px;
}

div#register_form label.control-label {
  padding-bottom: 7px;
  padding-right: 7px;
  background-color: #ffffe0;
  //color: #8b4513;
  color: #a52a2a;
}

div#register_form textarea {
  width: 100%;
  /*height: 150px;*/
}

div#register_form div.submit {
  margin-bottom: 20px;
}

/*** Register Image Form-page Resizing ***/
div#ri_resizer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 3px solid #000;
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100px;
  /*margin-bottom: 8px; */
}

img#register_image {
  width: 100%;
  height: auto;
}

#container {
  overflow: auto;
  width: 100%
}

.ui-resizable-handle {
  width: 99.9%;
  display: block;
  position: absolute;
  z-index: 99999;
  border: 1px solid grey;
}

.icon-pencil, .icon-remove {
  background-image:url('/images/twitter/bootstrap/glyphicons-halflings.png');
  display: inline-block;
}

.icon-pencil { background-position:0 -72px; }
.icon-remove { background-position:-312px 0; }

.control-group {
  margin: 5px !important;
}

#ticket_sales_fields {
  margin-left: 0;
}

#form-wrapper {
  margin-bottom: 60px;
}
